.header-wrapper {
    display: flex;
    height: 3.5rem;
    background-color: #23282b;
    color: white;
}

.header-content{
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0 0.5rem;
}