.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: #23282b;
    color: white;
    z-index: 100;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1d23;
    color: white;
    height: 3.5rem;
    min-height: 3.5rem;
    letter-spacing: 0.7rem;
}

.sidebar-header ::deep a{
    text-decoration: none;
    color: white;
}

.sidebar-toggler {
    display: none;
}

.list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.2rem;
    box-sizing: border-box;

}

.nav-item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.nav-item:hover{
    background-color: slategray;
}

.nav-item ::deep a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100% ;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav-link-span{
    display: flex;
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}

.nav-icon{
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

@media(max-width: 958px) {
    .sidebar-wrapper{
        display: none;
    }

    .sidebar-header{
        display: none;
    }

    .sidebar-wrapper.opened {
        position: absolute;
        left: 0;
        top: 3.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        border-bottom: solid 2px #708090;
    }

    .sidebar-toggler{
        position: absolute;
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        top: 0.83rem;
        left: calc(100vw - 3.2rem);
    }
}