
.shift-control-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    gap: 2rem;
}

.profile-form {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    border-radius: 8px;
    min-height:10rem;
    padding: 0.3rem;
    gap: 1rem;
}

.user-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: clamp(190px, 25vw ,350px);
}

.user-icon span{
    font-size: 50px;
    color: gray;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
    gap: 0.5rem;
}

.user-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.user-info span {
    font-size: 0.9rem;
    color: #666;
}

.user-info.hidden{
    display: none;
}

.info-header{
    display: flex;
    width: 100%;
}

.logout-sign {
    margin-left: auto !important;
}
.logout-sign:hover{
    color: red;
    cursor: pointer;
}

.shift-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
    gap: 0.5rem;
}

.last-shift-info-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.last-shift-info-container div{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.current-shift-data-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.shift-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

    .shift-info h4, .user-info h4 {
        color: #666;
    }

.shift-info span {
    font-size: 0.9rem;
    color: #666;
}

.shift-info.hidden{
    display: none;
}

.shift-change-form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

    .shift-change-form button {
        display: flex;
        gap: 0.75rem;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        padding: 0.8rem 1.5rem;
        font-size: 1.1rem;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        font-weight: 600;
        letter-spacing: 0.8px;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

.shift-in {
    background-color: #6a93ec;
    outline-color: #537ec7 !important;
}
    .shift-in:hover {
        background-color: #537ec7;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.shift-out {
    background-color: #e04433;
    outline-color: #bb3a2b !important;
}
    .shift-out:hover {
        background-color: #bb3a2b; 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.shift-in , .shift-out {
    padding-right: 1rem;
}
    .shift-in:active, .shift-out:active{
        outline: solid 2px black;
        outline-offset: 2px;
    }

    .shift-in.disabled, .shift-out.disabled{
        display: none;
    }

@keyframes pulse {
    50%{
        opacity: 0.5;
    }
}

.shift-in.busy, .shift-out.busy{
    animation: 2s pulse linear infinite;
}

@media(max-width:508px){
    .shift-change-form{
        flex-direction: column;
        gap: 1rem;
    }

        .shift-change-form button {
            min-width: 300px;
        }
}