.switch-form{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(111, 111, 111, 0.5);
    box-shadow: 0 0 2px 1px rgba(111,111,111,0.2);
    width: 6rem;
    height: 1.9rem;
    cursor: pointer;
}
.switch-form.disabled{
    cursor: not-allowed;
}

.switch-thumb{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #23282B;
    color: white;
    border-radius: 5px;
    width: 3rem;
    left: -0.1rem;
    top: -0.1rem;
    transition: left 0.2s;
}
.switch-thumb.disabled, .switch-thumb.toggled.disabled{
    background-color: gray !important;
    cursor: not-allowed;
}

.switch-thumb.toggled{
    left: 3rem;
    transition: left 0.2s;
    background-color: #4077d3;
}

.thumb-content{
    rotate: 90deg;
}