.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,.1)
}

.login-logo{
    height: 75px;
    margin-bottom: 35px;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 0 25px 0;
}

.input-field {
    font-size: 15px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #e9ecef;
    padding: 5px;
}

h2{
    text-align: center;
    font-family: 'Sans Serif Collection' !important;
}

.login-button {
    border: none;
    height: 35px;
    border-radius: 5px;
    background-color: #303747;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
}


@keyframes pulse{
    50%{
        opacity: 0.5;
    }
}

.login-button.loading{

    animation: pulse 2s linear infinite;
    background-color: dodgerblue;
}
