@page "/login"

<div class="login-wrapper">
    <img class="login-logo" alt="posadmin-logo" src="src/images/login_header.svg" />
    <div class="login-form">
        <h2>Monitor</h2>
        <div class="input-form">
            <input type="text" placeholder="Логин..." class="input-field" />
            <input type="password" placeholder="Пароль..." class="input-field"/>
        </div>
        <button class="login-button">Вход</button>
    </div>
</div>

@code{

}